{% load static %}<br />
{% include 'eventapp/base.html'%} <br />
{% block content %}

<div class="main_div">
  <div class="login_form_div">
    <form action="" method="post">
      {% csrf_token %} <br />
      {% for x in user_info %} <br />
      <div>
        <input
          class="username_input"
          type="text"
          name="first_name"
          id=""
          value="{{ x.first_name }}"
        />
      </div>
      <div>
        <input
          class="username_input mt-3"
          type="text"
          name="last_name"
          id=""
          value="{{ x.last_name }}"
        />
      </div>
      <div>
        <input
          class="username_input mt-3"
          type="email"
          name="email"
          id=""
          value="{{ x.email }}"
        />
      </div>

      {% endfor %}
      <button type="submit" class="btn btn-primary mt-3">Update</button>
    </form>
  </div>
</div>

{% endblock %}
